body {
	padding: 0px;
	margin: 0px;
	padding-top: 50px;
}
p {
	padding: 0px;
	margin: 0px;
}
ul {
	padding: 0px;
	margin: 0px;
}
li {
	padding: 0px;
	margin: 0px;
}
 * {
	box-sizing: border-box;
}
nav {
	width: 100%;
	height: 50px;
	border-bottom: solid 1px #1db2a3;
	position: fixed;
	z-index: 50;
	top: 0px;
	background-color: white;
	-webkit-box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.75);
	padding-top: 5px;
}
nav ul {
	padding-top: 5px;
	text-align: center;
}
nav ul li {
	display: inline-block;
	padding-right: 20px;
}

nav ul li a {
	color: #1db2a3;
}
h1, h2, h3, h4, h5, h6 {
	padding: 0px;
	margin: 0px;
}
.clear {
	clear: both;;
}
.float {
	float: left;
}
.logo a {
	font-family: "Great Vibes", sans-serif;
	font-size: 26px;
	padding-right: 60px;
	color: #1db2a3;
	text-decoration: none;
}
.contentContainer {
/*	background-color: #1db2a3;
*/	background-color: rgba(30, 196, 184, 0.6);
	width: 100%; 
	position: relative;
	margin: 0 auto;
}
.content {
	width: 1200px;
	padding-top: 50px;
	padding-bottom: 50px;
	margin: 0 auto;
}
.box {
	width: 600px;
	height: 500px;
	position: relative;
	padding: 10px 35px;
	overflow: hidden;
}
.about {
/*	background: linear-gradient(
      rgba(0, 70, 0, 0.50), 
      rgba(0, 70, 0, 0.50)
    ), url("Images/IMG_0596.JPG");*/
    background-color: white;
    background-size: cover;
    color: rgba(30, 196, 184, 0.6);
    text-align: center;
}
.about a {
	background-size: cover;
    color: rgba(30, 196, 184, 0.6);
	text-decoration: none;
	padding: 10px 50px;
	border: 2px solid rgba(30, 196, 184, 0.6);
}
.about p {
	padding-right: 20px;
	padding-bottom: 40px;
}
.knotTitle {
	text-align: center;
	padding: 20px 0px;
	margin-top: 50px;
}
.knotTitle h1 {
	color: white;
	font-family: "Great Vibes", "Brush Script";
	font-size: 45px;
}
#knotLogo {
	height: 75px;
	 margin-bottom: 50px;
 	 margin-top: 50px;
}
.review {
	margin: 0 auto;
	color: white;
/*	background: linear-gradient(
      rgba(30, 0, 0, 0.50), 
      rgba(30, 0, 0, 0.50)
    ), url("Images/IMG_0596.JPG");*/
    height: auto;
    margin-bottom: 30px;
    opacity: 0;
	/*background-color: rgba(188, 241, 234, 1);*/
	background-color: white;
}
.show {
	opacity: 1;
}
.review img {
	height: 15px;
	width: 15px;
}
.review span {
	margin-bottom: 20px;
	font-size: 17px;
}
.review p {
	margin-bottom: 10px;
	/*color: rgba(23, 155, 137, 1);*/
	color: black;
}
.insta {
	/*background-color: #f0f0f0;*/
	background-size: cover;
    background-color: rgba(188, 241, 234, 1);
	text-align: top;
	padding: 10px;
	overflow: hidden;

}
#imgSliderWrapper {
	width: 570px;
	height: 400px;
	overflow: hidden;
	margin: 0 auto;
}
#imgSliderWrapper .imgSliderContainer {
	display: block;
	height: 400px;
	padding: 0px;
	margin: 0px;
}
.imgSliderContainer .slides {
	float: left;
	list-style-type: none;
	width: 570px;
	height: 400px;
}
.slides img {
	width: 570px;
	height: 400px
}
.instaHeader p {
	float: left;
	padding-bottom: 10px;
	color: rgba(23, 155, 137, 1);
/*	padding-left: 10px;
	padding-top: 10px;*/

}
.instaHeader img {
	width: 20px;
	height: 20px;
	padding: 0px;
/*	margin-top: 10px;
	margin-right: 10px;*/
	float: right;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.instaText {
	width: 100%;
	height: 50px;
	background-color: white;
	position: absolute;
	bottom: 0px;
	opacity: 0.5;
}
.instaText p {
	margin-top: 5px;
	margin-left: 10px;
}
.instaFooter {
	text-align: center;
	padding-top: 20px;
}
.instaFooter a {
	text-decoration: none;
	color: rgba(23, 155, 137, 1);
}
footer {
	padding: 50px;
	/*background-color: #f2f2f2;*/
	background-color: #f9f9f9;
}
footer p {
	padding-bottom: 5px;
}
.footerContact {
	margin-right: 50px;
	border-right: solid 1px lightgrey;
	padding-right: 25px;
}
.footerinfo {
	margin: 0 auto;
}
footer a {
	text-decoration: none;
}
footer img {
	height: 25px;
	width: 25px;
	background-color: lightgrey;
	border-radius: 50px;
}
footer h3 {
	margin-bottom: 30px;
}

