body {
	padding: 0px;
	margin: 0px;
	padding-top: 101px;
	background-color: rgba(188, 241, 234, 1);

/*	background-color: rgba(23, 170, 137, 0.5);
*/}
p {
	padding: 0px;
	margin: 0px;
}
ul {
	padding: 0px;
	margin: 0px;
}
li {
	padding: 0px;
	margin: 0px;
}
/* * {
	box-sizing: border-box;
}*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
nav {
	width: 100%;
	height: 101px;
	border-bottom: solid 1px #998100;
	position: fixed;
	z-index: 50;
	top: 0px;
	background-color: white;
	-webkit-box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.75);
	padding-top: 10px;
}
nav ul {
	/*padding: 10px;*/
	width: 75%;
	background-color: #c2f8ff;
}
nav ul li {
	display: inline-block;
	text-align: center;
	padding: 10px;
}

nav ul li a {
	color: #4ab2b2;
	text-decoration: none;
	font-size: 17px;
/*	color: #998100;
*/}
.currentPage {
	background-color: #ef8e89; 
}
.currentPage a {
	color: white;
}
.clear {
	clear: both;;
}
.float {
	float: left;
}
.floatRight {
	float: right;
}

.logo {
/*	text-align: center;
*/	padding-top: 120px;
	text-align: center;
	position: absolute;
	left: 130px;
	/*display: none;*/
}

.logo a{
	font-family: "Great Vibes", sans-serif;
	font-size: 34px;
	padding-right: 10px;
	color: #1db2a3;
	text-decoration: none;
}

.logo span {
	font-family: "Great Vibes", sans-serif;
	font-size: 60px;
	padding-right: 60px;
	color: #1db2a3;
	text-decoration: none;
}
.logoNav {
	text-align: center;
}
.logoNav p {
	color: #4ab2ab;
}
.logoNav a{
	font-family: "Great Vibes", sans-serif;
	font-size: 40px;
	padding-right: 60px;
	text-decoration: none;
}
.appointment {
	width: 25%;
	padding: 10px;
	text-align: center;
	background-color: white;
}
.customMainHeader {
	width: 100%;
	height: 200px;
	background-image: url(../Images/Sketches_banner_teal.jpg);
	background-size: cover;
	position: relative;
	text-align: center;
}
.customMainHeaderText {
	width: 300px;
	margin-left: 200px;
	background-color: #4F84A9;
	height: 100%;
	position: relative;
}
.infoContent {
	padding-bottom: 50px;
	text-align: center;
	background-color: white;
}

.customExperience {
	position: relative;
	width: 50%;
}
.customHeadTitle  {
	font-size: 50px;
	padding: 30px;
	color: rgba(23, 155, 137, 1);
}
.customImgLeft, .customImgRight{
	width: 25%;
	height: 375px;
}
.customImgLeft img, .customImgRight img {
	width: 100%;
	height: 375px;
}
.expList {
	
}
.customExperience ul {
	padding: 50px; 
}
.customExperience ul li {
	text-align: justify;
	font-size: 20px;
	margin-bottom: 20px;
	color: rgba(23, 155, 137, 1);
}

.contentContainer {
	background-color: #1db2a3;
	width: 100%; 
	position: relative;
}
.content {
	width: 1200px;
	padding-top: 50px;
	padding-bottom: 50px;
	margin: 0 auto;
}
.box {
	width: 600px;
	height: 500px;
	position: relative;
	padding: 15px 35px;
	overflow: hidden;
}
.about {
/*	background: linear-gradient(
      rgba(0, 70, 0, 0.50), 
      rgba(0, 70, 0, 0.50)
    ), url("Images/IMG_0596.JPG");*/
    background-color: white;
    background-size: cover;
    color: rgba(30, 196, 184, 0.6);
    text-align: center;
}
.about h1 {
	margin-bottom: 60px;
	margin-top: 30px;
}
.about a {
	color: rgba(30, 196, 184, 0.6);
	text-decoration: none;
	padding: 10px 50px;
	border: 2px solid rgba(30, 196, 184, 0.6);
	border-radius: 5px;
}
.about h4 {
	margin-top: 70px;
}

.about p {
	padding-right: 20px;
	padding-bottom: 40px;
}
.about ul {
	margin: 0 auto;
	margin-bottom: 50px; 
	width: 70%;
}
.about li {
	padding-bottom: 30px;
	text-align: justify;
	font-size: 20px;
}
.insta {
	text-align: top;
	background-color: rgba(188, 241, 234, 1);
	text-align: top;
	padding: 10px;
}
.instaHeader p {
	float: left;
	padding-bottom: 10px;
	color: rgba(23, 155, 137, 1);

}
.instaHeader img {
	width: 20px;
	height: 20px;
	padding: 0px;
	float: right;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    margin-bottom: 5px;
}
#imgSliderWrapper {
	width: 570px;
	height: 400px;
	overflow: hidden;
	margin: 0 auto;
}
#imgSliderWrapper .imgSliderContainer {
	display: block;
	height: 400px;
	padding: 0px;
	margin: 0px;
}
.imgSliderContainer .slides {
	float: left;
	list-style-type: none;
	width: 570px;
	height: 400px;
}
.slides img {
	width: 100%;
	height: 400px
}
.instaText {
	width: 100%;
	height: 50px;
	background-color: white;
	position: absolute;
	bottom: 0px;
	opacity: 0.5;
}
.instaText p {
	margin-top: 5px;
	margin-left: 10px;
}
.instaFooter {
	text-align: center;
	padding-top: 20px;
}
.instaFooter a {
	text-decoration: none;
	color: rgba(23, 155, 137, 1);
}
.viewMoreContainer {
	width: 80%;
	margin: 0 auto;
	height: 600px;
	background-image: url(../Images/JudeBottomImg_FourthSize_Cropped.jpg);
	position: relative;
	margin-top: 50px;
}
.viewMore a {
	font-size: 20px;
	color: white;
	border: 2px solid white;
	border-radius: 5px;
	text-decoration: none;
	padding: 10px 50px;
	border-radius: 5px;
}
.viewMore {
	width: 400px;
}
.closeDesignerImageGallery {
    /*font-family: 'Playfair Display SC', serif;*/
    width: 30px;
    margin: 20px 0px;
}
.closeDesignerImageGallery p {
	text-decoration: none;
	font-size: 30px;
	color: white;
	background-color: #e06161;
	text-align: center;
}
#viewImagesInGallery {
	width: 70%;
	margin: 0 auto;
	margin-bottom: 50px;
}
.designerImageGallery {
	float: left;
	width: 250px;
	height: 350px;
	position: relative;
	margin-bottom: 20px;
	margin-left: 20px;
}
.designerImageGallery img {
	width: 100%;
	height: 350px;
}
.designerImageGalleryName {
	position: absolute;
	bottom: 0px;
	background-color: lightgrey;
	padding: 3px;
}
.selectedImage {
	width: 1000px;
	margin: 0 auto;
}
.selectedImage img {
	width: 100%;
}
footer {
	padding: 50px;
	/*background-color: #f2f2f2;*/
	background-color: #f9f9f9;
}
footer p {
	padding-bottom: 5px;
}
.footerContact {
	margin-right: 50px;
	border-right: solid 1px lightgrey;
	padding-right: 25px;
}
.footerinfo {
	margin: 0 auto;
}
footer a {
	text-decoration: none;
}
footer img {
	height: 25px;
	width: 25px;
	background-color: lightgrey;
	border-radius: 50px;
}
footer h3 {
	margin-bottom: 30px;
}