<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">

<head>

    <title>Gown Collection | Forever Amour Bridal Boutique</title>

	<meta name="charset" content="utf-8">
	<meta http-equiv="content-Type" content="text/html; charset=utf-8"> 

	<meta name="description" content="Large selection of designer wedding gowns at beautiful prices, as well as veils and belts to match. Justin Alexander, Rosa Clara, Symphony, Jude Jowilson and more.">
	<meta name="keywords" content="collection, gallery, justin alexander, sposa, rosa clara, jude, jowilson, symphony">

	<link rel="icon" type="image/ico" href="Images/BridalFavicon.ico">

	<link rel="stylesheet" type="text/css" href="CSS/font-awesome.css">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

	<link href='https://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC" rel="stylesheet">


	<!--<link href="css/bootstrap.css" media="screen" rel="stylesheet" type="text/css">-->

	<!--<script src="JS/jquery-1.3.2.min.js" type="text/javascript" charset="utf-8"></script>-->
    
    <script type="text/javascript" src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

	<script src="JAVASCRIPT/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="JAVASCRIPT/newCollectionjs.js" type="text/javascript" charset="utf-8"></script>

	  <!-- 	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script> -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>

	<!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script> -->
	<script type="text/javascript" src="JAVASCRIPT/value.js"></script>
	<script type="text/javascript" src="JAVASCRIPT/service.js"></script>
    <script rel="stylesheet" type="text/javascript" src="JAVASCRIPT/collectionAngularImageGallery.js"></script>

	<!--Google Analytics account: Forever Amour
	Use it to track website stats. Tracking ID: UA-86456732-1
	-->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-86456732-1', 'auto');
		ga('send', 'pageview');
	</script>

<link href="CSS/newCollectioncss.css" rel="stylesheet" type="text/css">

</head>

<body ng-app="CollectionImageGallery">
	<div ng-controller="CollectionImageGalleryController as ctrl">
		<nav>
			<ul>
				<li class="logo"><a href="index.html">Forever Amour Bridal</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="collection.html">Collection</a></li>
				<li><a href="custom.html">Custom Made</a></li>
				<li><a href="contact.html">Contact</a></li>
				<li><a href="">Our Guide Step</a></li>
				<li><a href="appointment.html">Make An Appointment</a></li>
			</ul>
		</nav>
		<div class="collectionMainHeader">
<!-- 			<div id="google_translate_element" ng-if="ctrl.mainHtml == true"></div><script type="text/javascript">
			function googleTranslateElementInit() {
		  	new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'ar,en,es,sp,fa,fr,hr,ko,pt,ru,tl,tr,zh-CN', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, gaTrack: true, gaId: 'UA-80185265-1'}, 'google_translate_element');
			}
		</script> -->
			<div class="collectionMainHeaderText">
				<div class="cmhtText">
					<h2>Our</h2>
					<h1>Collection</h1>
				</div>
			</div>
		</div>

		<div class="mainContainer">

			<div class="designersWrapper">
					<ul class="designerSliderContainer">
						<li class="designerSlides" ng-repeat="designer in ctrl.designerList">
							<img src="{{designer.mainImage}}">
							<div class="aboutDesigner">
								<h1 ng-bind="designer.name"></h1>
								<p ng-bind="designer.description"></p>
								<a href="" ng-click="ctrl.viewGallery(designer.name, ctrl.current_page, ctrl.notJude)"> View Gallery</a>
							</div>
						</li>
					</ul>
					<div class="clear"></div>
			</div>

			<div class="designerNameList">
					<ul class="designerNamesArray">
						<li class="designer" ng-repeat="desNames in ctrl.designerNames">
							<a id="theDesigners" href="#" ng-bind="desNames" ng-click="ctrl.viewGallery(desNames, ctrl.current_page, ctrl.notJude)"></a>
						</li>
					</ul>
			</div>

			<div ng-if="ctrl.clickedThumbNail == true" class="selectedImage">
				<div class="closeDesignerImageGallery">
					<p ng-click="ctrl.closeDesignerImageGallerySelectedImage()">X</p>
				</div>
				<img ng-src="{{ctrl.selectedImage}}">
				<div class="closeDesignerImageGallery">
					<p ng-click="ctrl.closeDesignerImageGallerySelectedImage()">X</p>
				</div>
			</div>

			<div id="viewImagesInGallery" ng-if="ctrl.imageToBeViewed == true">
				<div class="designerNameForGallery">
					<p ng-bind="ctrl.galleryDesignerName"></p>
				</div>
				<div ng-repeat="images in ctrl.designerImages track by $index" class="designerImageGallery">
						<p class="designerImageGalleryName" ng-bind="images.designerName"></p>
						<img ng-src="{{images.img}}" ng-click="ctrl.viewLargeImage(images.img)">
				</div>
				<div class="clear"></div>

				<div class="pages">
					<p>Current Page: <span ng-bind="ctrl.current_page"></span><span>/</span><span ng-bind="ctrl.numPages"></span></p>
					<p ng-click="ctrl.prevPage(ctrl.currentDesigner)" ng-if="ctrl.current_page > 1"> Previous </p>
					<p ng-click="ctrl.nextPage(ctrl.currentDesigner)" ng-if="ctrl.current_page < ctrl.numPages">  Next</p>
				</div>
			</div>
		</div><!-- end mainContainer -->
		<div class="clear"></div>

		<div class="viewCustom">
			<a href="custom.html">View Our Custom Designer Exclusively At Forever Amour Bridal</a>
		</div>
		<footer>
			<div class="footerinfo">
				<div class="footerContact float">
					<h3>Contact & Info</h3>
					<p>
						212 - 486 -2900
					</p>
					<p>
						1089 Second Ave.
						Suite 2
						<br>
						New York, NY 10022
					</p>
					<p>
						stylist@foreveramourbridal.com
					</p>
				</div>
				<div class="footerSocialMedia float">
					<h3>Follow Us</h3>
					<div id="footer-social">
						<a class="socialLink" href="https://www.theknot.com/marketplace/forever-amour-bridal-boutique-new-york-ny-546587" target="_blank">
							<img id="knotIcon" src="Images/SocialMediaIcons/Knot_SocialIcon_transparent.png" alt="The Knot Icon" title="The Knot Wedding Network">
						</a>

						<a class="socialLink" href="https://www.facebook.com/ForeverAmourBridalDresses/" target="_blank">
							<img id="fbIcon" src="Images/SocialMediaIcons/FB_SocialIcon_transparent.png" alt="Facebook Icon" title="Facebook">
						</a>

						<a class="socialLink" href="https://twitter.com/foreveramournyc" target="_blank">
							<img id="twitterIcon" src="Images/SocialMediaIcons/Twitter_SocialIcon_transparent.png" alt="Twitter Icon" title="Twitter">
						</a>

						<a class="socialLink" href="https://www.pinterest.com/foreveramour/" target="_blank">
							<img id="pinterestIcon" src="Images/SocialMediaIcons/Pinterest_SocialIcon_transparent.png" alt="Pinterest Icon" title="Pinterest">
						</a>

						<a class="socialLink" href="https://www.instagram.com/foreveramourbridalboutique/" target="_blank">
							<img id="instagramIcon" src="Images/SocialMediaIcons/Instagram_SocialIcon_transparent.png" alt="Instagram Icon" title="Instagram">
						</a>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</footer>


	</div><!-- end controller -->
</body>

</html>