<!DOCTYPE html><!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">

<head>
	<title>Custom Gowns | Forever Amour Bridal Boutique</title>

	<meta name="charset" content="utf-8">
	<meta http-equiv="content-Type" content="text/html; charset=utf-8"> 

	<meta name="description" content="Your dream dress created here, a handcrafted wedding gown custom-made only for you by renowned designer Jude Jowilson.">
	<meta name="keywords" content="custom, couture, designer, gown, dress, hand made, handcrafted, design, jude, jowilson">

	<link rel="icon" type="image/ico" href="Images/BridalFavicon.ico">

	<link rel="stylesheet" type="text/css" href="CSS/font-awesome.css">

	<link rel="stylesheet" type="text/css" href="CSS/newCustomcss.css">


	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

	<link href='https://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>

	<!--Google Analytics account: Forever Amour
	Use it to track website stats. Tracking ID: UA-86456732-1
	-->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-86456732-1', 'auto');
		ga('send', 'pageview');
	</script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<script src="JAVASCRIPT/newCustomjs.js" type="text/javascript" charset="utf-8"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
	<script type="text/javascript" src="JAVASCRIPT/value.js"></script>
	<script type="text/javascript" src="JAVASCRIPT/service.js"></script>
	<script rel="stylesheet" type="text/javascript" src="JAVASCRIPT/collectionAngularImageGallery.js"></script>


	<style>

		/*the rest of the google translate dropdown styling is in style.css*/
		#google_translate_element{
			top: 10px;
		}		

	</style>

</head>

<body ng-app="CollectionImageGallery" ng-controller="CollectionImageGalleryController as ctrl">


<!-- <div id="google_translate_element"></div><script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'ar,en,fa,fr,hr,ko,pt,ru,es,tl,tr,zh-CN', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, gaTrack: true, gaId: 'UA-80185265-1'}, 'google_translate_element');
}
</script><script type="text/javascript" src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script> -->
<nav>
	<div class="logoNav">
		<p><a href="index.html">Forever Amour Bridal Boutique</a></p>
	</div>
	<ul class="float">
		<li><a href="index.html">Home</a></li>
		<li><a href="collection.html">Collection</a></li>
		<li class="currentPage"><a href="custom.html">Custom Made</a></li>
		<li><a href="contact.html">Contact</a></li>
		<li><a href="about.html">About</a></li>
		<li><a href="">Our Guide Step</a></li>
	</ul>
	<div class="appointment floatRight">
		<p><a href="appointment.html">Make An Appointment</a></p>
	</div>
	<div class="clear"></div>
</nav>
<div class="customMainHeader">
<!-- 			<div id="google_translate_element" ng-if="ctrl.mainHtml == true"></div><script type="text/javascript">
			function googleTranslateElementInit() {
		  	new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'ar,en,es,sp,fa,fr,hr,ko,pt,ru,tl,tr,zh-CN', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, gaTrack: true, gaId: 'UA-80185265-1'}, 'google_translate_element');
			}
		</script> -->
	<div class="customMainHeaderText">
		<div class="cmhtText">
			<h2>Custom… </h2>
			<h1>What makes us extraordinary</h1>
		</div>
	</div>
</div>

<div ng-if="ctrl.clickedThumbNail == true" class="selectedImage">
	<div class="closeDesignerImageGallery">
		<p ng-click="ctrl.closeDesignerImageGallerySelectedImage()">X</p>
	</div>
	<img ng-src="{{ctrl.selectedImage}}">
	<div class="closeDesignerImageGallery">
		<p ng-click="ctrl.closeDesignerImageGallerySelectedImage()">X</p>
	</div>
</div>

<div id="viewImagesInGallery" ng-if="ctrl.imageToBeViewed == true">
	<div class="closeDesignerImageGallery" ng-if="ctrl.clickedThumbNail == false">
		<p ng-click="ctrl.closeDesignerImageGallery()">X</p>
	</div>
	<div ng-repeat="images in ctrl.designerImages track by $index" class="designerImageGallery">
		<p ng-bind="images.designerName"></p>
		<img ng-src="{{images.img}}" ng-click="ctrl.viewLargeImage(images.img)">
	</div>
	<div class="clear"></div>

	<div>
		<p>Current Page: <span ng-bind="ctrl.current_page"></span><span>/</span><span ng-bind="ctrl.numPages"></span><span ng-click="ctrl.prevPage(ctrl.currentDesigner)" ng-if="ctrl.current_page > 1"> < Previous </span><span ng-click="ctrl.nextPage(ctrl.currentDesigner)" ng-if="ctrl.current_page < ctrl.numPages"> : Next > </span></p>
	</div>
</div>

<div class="infoContent">
	<p class="customHeadTitle">Jude Jowilson collection sets us apart</p>
	<div class="customImgLeft float">
		<img src="Images/InviteImage_ThirdSize_cropped.jpg">
	</div>
	<div class="customExperience float">
		<ul>
			<li>Jude brings over 10 years of design experience along with a passion for understanding brides fashion vision.</li>
			<li>The dress is exclusively yours, and the Jude Jowilson collection is exclusively ours</li>
			<li>Couture experience at an attainable price</li>
			<li>From the first sketch to the last fitting, Jude will collaborate with you to create a unique handcrafted gown that is yours alone</li>
			<li>Forever Amour Bridal Boutique, unlike most bridal salons, offers this couture experience.</li>
		</ul>
	</div>
	<div class="customImgRight float">
		<img src="Images/OnlinePic.jpg">
	</div>
	<div class="clear"></div>
</div>
<div class="contentContainer">
	<div class="content">
		<div class="box about float">
			<div class=" centerTop">
			<h1>About Jude Jowilson</h1>
				<ul>
					<li>Jude brings over 10 years of design experience along with a passion for understanding fashion vision.</li>
					<li>Jude has joined Forever Amour Bridal Boutique as our exclusive in-house couture designer and has launched his own bridal collection under the Jude Jowilson brand.</li>
				</ul>
				<h4> <a href="">Read More About Jude</a> </h4>
			</div>
		</div>
		<div class="box insta float">
			<div class="instaHeader">
				<p>Jude Jowlison</p>
				<a href="https://www.instagram.com/judejowilson/"><img src="Images/instaLogo.png"></a>
				<div class="clear"></div>
			</div>
			<div id="imgSliderWrapper">
				<ul class="imgSliderContainer">
					<li class="slides"><img src="Images/IMG_0596.JPG"></li>
					<li class="slides"><img src="Images/JA_8872.JPG"></li>
					<li class="slides"><img src="Images/jude.png"></li>
					<li class="slides"><img src="Images/jude2.jpeg"></li>
					<li class="slides"><img src="Images/jude3.jpg"></li>
					<li class="slides"><img src="Images/IMG_0596.JPG"></li>
				<ul>
			</div>	
			<div class="instaFooter">
				<a href="">Exclusively At Forever Amour Bridal Boutique</a>
			</div>		
		</div>
		<div class="clear"></div>

		<div class="viewMoreContainer">
			<div class="viewMore" ng-click="ctrl.viewGallery(ctrl.designerName, ctrl.current_page, ctrl.yesJude)">
				<a class="judeLink" href="#">
					View Jude Jowilson Dress Gallery <i class="fa fa-angle-right" aria-hidden="true"></i>
				</a>
			</div>
		</div>

	</div><!-- close content -->
</div><!-- close contentContainer -->

<footer>
	<div class="footerinfo">
		<div class="footerContact float">
			<h3>Contact & Info</h3>
			<p>
				212 - 486 -2900
			</p>
			<p>
				1089 Second Ave.
				Suite 2
				<br>
				New York, NY 10022
			</p>
			<p>
				stylist@foreveramourbridal.com
			</p>
		</div>
		<div class="footerSocialMedia float">
			<h3>Follow Us</h3>
			<div id="footer-social">
				<a class="socialLink" href="https://www.theknot.com/marketplace/forever-amour-bridal-boutique-new-york-ny-546587" target="_blank">
					<img id="knotIcon" src="Images/SocialMediaIcons/Knot_SocialIcon_transparent.png" alt="The Knot Icon" title="The Knot Wedding Network">
				</a>

				<a class="socialLink" href="https://www.facebook.com/ForeverAmourBridalDresses/" target="_blank">
					<img id="fbIcon" src="Images/SocialMediaIcons/FB_SocialIcon_transparent.png" alt="Facebook Icon" title="Facebook">
				</a>

				<a class="socialLink" href="https://twitter.com/foreveramournyc" target="_blank">
					<img id="twitterIcon" src="Images/SocialMediaIcons/Twitter_SocialIcon_transparent.png" alt="Twitter Icon" title="Twitter">
				</a>

				<a class="socialLink" href="https://www.pinterest.com/foreveramour/" target="_blank">
					<img id="pinterestIcon" src="Images/SocialMediaIcons/Pinterest_SocialIcon_transparent.png" alt="Pinterest Icon" title="Pinterest">
				</a>

				<a class="socialLink" href="https://www.instagram.com/foreveramourbridalboutique/" target="_blank">
					<img id="instagramIcon" src="Images/SocialMediaIcons/Instagram_SocialIcon_transparent.png" alt="Instagram Icon" title="Instagram">
				</a>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</footer>

</body>

</html>